@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;800&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
}
body {
    background: rgb(214, 225, 255, 50%);
    overflow-x: hidden;
    height: 150vh;
}
.container .card {
    background: white;
    width: 400px;
    height: auto;
    margin: -260px 550px;
    border-radius: 7px;
}
.container .card .header svg {
    width: 100%;
    border-radius: 7px 7px 0 0;
}
.container .card .body .order,
.container .card .body .p {
    text-align: center;
}
.container .card .body .order {
    font-weight: 800;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container .card .body .p {
    font-size: .9rem;
    color: gray;
}
.container .card .body .pricing {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .card .body .pricing .article {
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    background: #eee;
    width: 90%;
    margin: 10px 20px;
    align-items: center;
    padding: 10px;
}
.container .card .body .pricing .article .class-sec {
    font-size: .9rem;
    color: gray;
}
.container .card .body .pricing .article svg {
    margin-right: 0;
}
.primary {
    border: none;
    background: rgb(44, 60, 105);
    color: white;
    border-radius: 10px;
    text-align: center;
    margin: 20px 60px;
    padding: 10px;
    width: 70%;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 50%);
    cursor: pointer;
}
.footer a {
    text-decoration: none;
    text-align: center;
    margin: 0 130px;
    padding: 10px;
    cursor: pointer;
}